<h3>What's New Today?</h3>

<%= form_for [ @foodtruck, @message ] do |f| %>
  <p>
    <% f.label :body %><br/>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Update', class: "btn btn-info" %>
  </p>
<% end %>
